
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Knowledge Hub</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Knowledge Hub</h1>
<p>Here you can find links to all the resources that are there on Coursera or on Grow and can track all the progress and completion on our knowledge hub only.</p>
<ul>
<li><a href="/courses">Courses</a></li>
<li><a href="/progress">Progress</a></li>
</ul>
</div>
</body>
</html>


---
